[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest
[submodule "ext/docopt.cpp"]
	path = ext/docopt.cpp
	url = https://github.com/docopt/docopt.cpp
[submodule "ext/googletestCustomOutput"]
	path = ext/googletestCustomOutput
	url = https://github.com/nicholasaird/googletestCustomOutput
